{% extends "base.jinja" %}
{% block title %}Access Logs{% endblock title %}
{% block body %}
<div class="mx-auto container">

    <div class="flex justify-between">
        <div class="my-4">
            <h1 class="text-4xl font-bold">Access Logs</h1>
        </div>

        <div class="flex items-center">
            <a href="{{url_for('logs:download-ui')}}"
                class="bg-purple-500 px-3 py-2 rounded-xl text-neutral-50 font-bold">
                Download CSV
            </a>
        </div>
    </div>

    {# Card #}
    <div class="bg-neutral-50 rounded-md shadow-md overflow-hidden">
        {# Table #}
        <table class="w-full">
            {# Header #}
            <thead class="font-bold bg-purple-500 text-neutral-50">
                <tr>
                    <th class="py-1 px-4 text-left">Tag UID</th>
                    <th class="py-1 px-4 text-left">Organization ID</th>
                    <th class="py-1 px-4 text-left">Last Name</th>
                    <th class="py-1 px-4 text-left">First Name</th>
                    <th class="py-1 pr-4 text-left">Timestamp</th>
                    <th class="py-1 pr-4 text-left">Access Granted</th>
                </tr>
            </thead>

            <tbody>
                {% for log in logs %}
                <tr class="even:bg-[oklch(94.6%_0_0)]">
                    <td class="py-1 pl-4">{{log.tag_uid}}</td>
                    <td>{{log.org_id}}</td>
                    <td>{{log.last_name}}</td>
                    <td>{{log.first_name}}</td>
                    <td>{{log.timestamp}}</td>
                    <td>{{log.access_was_granted}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}