<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  
  {# Tell Tailwind to use class-based dark mode #}
  <style type="text/tailwindcss">
    @custom-variant dark (&:where(.dark, .dark *));
    @utility container {  margin-inline: auto;  padding-inline: 2rem;}
  </style>

  {# Alpine #}
  <script src="//unpkg.com/alpinejs" defer></script>
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="dark bg-neutral-200">
  {% include "components/header.jinja" %}

  <main>
    {% block body %}{% endblock %}
  </main>
</body>

</html>